logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin/
/emdr-listener/
activator-launch-1.2.12.jar
activator.bat
data
sde_scripts/json*
sde_scripts/psv*
sde_scripts/sde*
sde_scripts/venv
.cache
activator
