@(title: String)(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <script type="text/javascript" src="@routes.Assets.at("lib/jquery/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("lib/react/react.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("lib/bootstrap/js/bootstrap.js")"></script>
        <script type="text/javascript" src="@routes.Application.assetRoutes"></script>
        <script type="text/javascript" src="@routes.Application.jsRoutes"></script>
        <script type="text/javascript" src="@routes.Application.configuration"></script>
        <script type="text/javascript" src="@routes.Assets.at("lib/typeaheadjs/typeahead.bundle.js")"></script>
    </head>
    <body>
    	<div class="container">
        	@content
        </div>
    </body>
</html>
